
/* body{
    background-color: #e7932d;
    } */
    .navbar{
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12) , inset 0 -1px 0 0 #dadce0;
        height: 70px;
    }
    .btn-primary{
        background-color: #e7932d;
        border-color: #E38311;
    }
    .btn-primary:hover{
        background-color:  #cf7d19;
        border-color: #E38311;
    }
    
    .btn-primary:active{
        background-color: #a15b06!important;
        border-color: #E38311!important;
        opacity: 0.2!important; 
    }
    
    .badge{
        background-color:#E38311!important;
        color:black!important;
        height: fit-content;
        font-weight: bolder!important;
       
    }
    
    .cardcat {
        width: 200px;
        height: fit-content;
        background-color: #f0f0f0;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        margin-bottom: 40px; 
      }
      
      .cardcat:hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      }
      .card-img-top {
        width: 100%;
        height: 200px;
      }
    .book-image {
        width: 190px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
    }
    .book-image1{
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }
    .book-img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    .book-card > div > div > div > .card-title{
        font-size: 20px;
    }
    .book-card > div > div > div > p{
        font-size: 14px;
    }
    .book-card > div > div > a{
        font-size: 12px;
        height: fit-content;
    
    }
    .cart{
        margin: auto;
        width: 40%;
        display: inline-block;
    }
    .bold{
       font-size: 40px;
       font-style: oblique;
    }
   
    .cat{
        height: 25px;
        font-size: 13px;
        font-weight: normal;
    }
    .qty-btn{
        background-color: #fff;
        border: 1px solid #e7932d;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
    
    }
    .reg{
        width: 100%;
        height: 98vh;
        background: url(images/reg2.png);
        background-position:center ;
        background-size: cover;
        background-repeat: no-repeat;
        font-weight: 600;
        /* background-attachment: fixed; */
    
    }
  
    #regdiv{
       
        background-color:#8F5FD2;
        border-radius: 50px;
        margin-top: 20px;
    }
    .log{
            width: 100%;
            height: 98vh;
            background: url(images/log\ in.png);
            background-position:center ;
            background-size: cover;
            background-repeat: no-repeat;
            font-weight: 600;
        
    }
    #heroimg{
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/slider5.jpg);
        background-position:center ;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #heroimg .container{
     padding-top: 80px;   
    }
    .book-image2{
        height: 140px;
        width: 100px;
        border-radius: 10px;

    }
    #heroimg h1{
        font-size: 50px;
        font-weight: 700;
        line-height: 56px;
        color: #e7932d;
        margin: 0 0 20px 0;
    
    }
    #heroimg h2{
    color: #eee;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    }
    #heroimg h2 i{
        color:#e7932d;
        /* color: #2d61e7;
        color:#e7932d ; */
        /* color: #3ce72d;  */
    }
    .categories{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/cat1.jpg);
        width: 100%;
        height: fit-content;
        background-color: #e7932d;
        text-align: center;
    }
    .categories h1{
        font-size: 45px;
        color: #e7932d;
    }
    .categories h5 i{
        color: #e7932d;
    }
    .categories h5{
       color: #dadce0;
       text-align: center;
       font-weight: bolder;
    }
    #selected-logo{
        display: none;
    }
    #submit-store{
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .spinner-border{
        height: 20px;
        width: 20px;
        font-size: 10px;
    }
    #store-spinner{
      display: none;
    }
    #book-spinner{
        display: none;
    }
    .store-logo-image{
    width: 50px;
    height:50px;
    border-radius: 50px;
    }
    #store-name1{
        margin: auto;
        align-items: center;
        text-align: center;
        font-size: 20px;
        font-style: oblique;
        border-radius: 10px;
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)) ,url(images/store1.jpg);
        height: fit-content;
        background-attachment: fixed;
        width: auto;
        background-position:center ;
         background-size: cover;
         background-repeat: no-repeat;
         color: antiquewhite;
         font-size: 30px;
    } 
    #store-image1{
      width: 300px;
      border-radius: 50%;
      height: 300px;
    }