
.link p{
    text-align: center;
}
body {
  background-color: whitesmoke!important;
}
.labels label{
    color: black;
    font-weight: 400;
    font-size: 15px;
}
#emailHelp{
    color: black;
    font-weight: 400;  
}
#btnreg a{
    color: white!important;
    text-decoration: none;
}
.displayimage{
    max-width: 600px;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    height: 100%; 
    border: 2px solid black;
}

.login-container {
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    background-color:#5496CC;
    border-radius: 40px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12) , inset 0 -5px 0 0 #E38311;
    height: fit-content;
}
.login-container1 {
    max-width: 500px;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    background-color:#5496CC;
    border-radius: 40px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12) , inset 0 -5px 0 0 #E38311;
    height: fit-content;
}
#logintext a{
    color: blue;
    padding-left: 2px;
}
#log{
    color:white!important;
}
.labels p{
    color: black;
    font-weight: 400;
    
}
#display-img img{

margin: 70px;
height: 70%;
}
.labels p a{
    color: #E38311!important;;
    font-weight: 400;
    
}
#registerBtn{
    font-weight: 500;
    color: white;
    background-color:#E38311!important;  
    width: 190px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
   
 }

 #loginBtn{
    font-weight: 500;
    color: white;
    background-color:#E38311!important;  
    width: 190px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
 }
 .main-content1{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(images/reg2.png);
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: fit-content; */
    background-attachment: fixed;
   
 }
 #main2{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(images/reg2.png);
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: fit-content; */
    background-attachment: fixed;
    text-align: center;
 }
 #main3 th{
    background-color: #e7932d;
    font-size: 20px;
    font-weight: 700;
 }


 .main-content h2{
    font-size: 50px;
    font-weight: 700;
    font-style: oblique;
    color: black;
    padding-left: 35%;
   
 }
 